@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
	/* --danger-color: #dc3545;
  --success-color: #28a745; */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	color: white;
	overflow: hidden;
}

/* custom scrollbar css starts here*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* custom scrollbar css ends here*/

.nav-links {
	display: flex;
}

@media only screen and (max-width: 767px) {
	.nav-links {
		display: inline-block;
		position: absolute;
		top: 70px;
		right: -138.58px;
		background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
		padding: 1.5rem;
		transition: right 0.5s ease-in;
	}
}

.nav-active {
	right: 0px;
}
